
{% extends "ddcbackend/include/base.html"%}
{% load static %}
{% block content%}
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="POST">
				{% csrf_token %}
				{{ login_form.non_field_errors }}

				<div class="login__field">
					{{ login_form.username.errors }}
					<i class="login__icon fas fa-user"></i>
					{{ login_form.username }}
				</div>

				<div class="login__field">
					{{ login_form.password.errors }}
					<i class="login__icon fas fa-lock"></i>
					{{ login_form.password }}
				</div>

				<button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
                Don't have account?
                <br>
                <br>
				<a href="signup"><h3>Register</h3></a>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

{% endblock %}